.accordeon {
    display: flex;
}

details summary{
list-style-type: none;
}

details{
    display: flex;
    width: 150px;
    overflow: hidden;
    transition: width 1s ease-in; 
    gap: 10px;
    position: relative;
}

details[open]{
    width: 300px;
}

details>summary {
    top :0px;
    left: 0px;
}

details>div {
    width: 180px;
    height: 200px;
    
}

